h1 {font-family: 'Montserrat', san-serif;  font-size: 3rem;  line-height: 1.5;  font-weight: 700;}
body {font-family: 'Montserrat', san-serif;}
h3 {font-family: 'Montserrat', san-serif;  font-size: 1.75rem;  line-height: 1.5;  font-weight: 700;}
p {color: #8f8f8f;}
.container-fluid {padding: 1% 5%}
#title {background-color: #c7c7c7}

.nav-item {padding: 0 1rem;}

.nav-link {font-size: 1rem; font-family: 'Montserrat'; font-weight: 500;}

.banner-picture {max-height: 100%; max-width: 120%; display: block;
     margin-left: auto}

.meet {margin: auto 0;}

#feature {padding: 7% 15%;}

.feature-point {padding:5%; text-align: center;margin: auto 0;}

.feature-icon {color: #CF2128; margin-bottom: 1rem;}

.feature-icon:hover { color:#7CA75F;}
