h1 {
  font-family: 'Montserrat', san-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

body {
  font-family: 'Montserrat', san-serif;
}

h2 {
  font-family: 'Montserrat', san-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700
}

h3 {
  font-family: 'Montserrat', san-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 700;
}

.feature-text {
  color: #8f8f8f;
}

.container-fluid {
  padding: 1% 5%
}

#title {
  background-color: #c7c7c7
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.15rem;
  font-family: 'Montserrat';
  font-weight: 500;
}

.banner-picture {
  max-height: 100%;
  max-width: 120%;
  display: block;
  margin-left: auto
}

.meet {
  margin: auto 0;
}

#feature {
  padding: 7rem 15rem
}

.feature-point {
  padding: 5rem;
  text-align: center;
  margin: auto 0;
}

.feature-icon {
  color: #DD6368;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #A3C18F;
}

#testimonials {
  text-align: center;
  background-color: #e38286;
  color: #fff;
}

.testimonial-image {
  width: 12rem;
  border-radius: 10rem;
  margin: 2rem 0;
}

.carousel-item {
  padding: 9rem 7rem;
}

#press {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.press-logo {
  margin: 2rem;
  max-height: 100%;
  max-width: 80%;
}

#pricing {
  padding: 5rem 0;
  text-align: center;
  background-color: #E4EDDF
}

.card-header-odd {
  background-color: #BEBEBE;
}

.card-header-even {
  background-color: #E1E1E1;
}

.pricing-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.pricing-column {
  padding: 2rem 1rem;
}

#footer {
  text-align: center
}

.contact-me {
  margin: 1rem 0.5rem;
}

@media (max-width: 1029px) {
  .meet {
    text-align: center;
    padding: 3rem 0
  }
}
